body{
	font-size: 15px;
	color: #262626;
	background: #f3f3f3;
}
a{
	color: inherit;/*继承*/
	text-decoration: none;
}
button{
	outline: none;
}
/*--------------------------------header----------------------------*/
.header{
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	min-width: 1032px;
	overflow: hidden;
	background: #FFF;
	border-bottom-color: 1px solid rgba(30,35,42,0.06);
	box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
}
.is-fixed{
	position: fixed;
	box-sizing: border-box;
}
.header-inner{
	height: 52px;
	width: 1000px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	align-items: center;
}
.header-inner .header-title{
	color: #0d79d1;
	font-size: 2em;
}
.header-inner h1{
	margin: 0;
}
.header-nav{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 30px;
	margin-right: 18px;
	margin-left: 27px;
	color: #999;
}
.header-navItem{
	padding: 0 15px;
	line-height: 30px;
}
.header-navItem:first-child{
	padding-left: 0;
}
.header-navItem.is-active{
	color: #333;
}
.header-navItem:hover{
	color: #175199;
}
/*-----------searchbar-----------*/
.SearchBar{
	display: flex;
}
.SearchBar-toolWrapper{
	position: relative;
	z-index: 104;
	width: 326px;
}
.SearchBar-tool{
	position: relative;
	float: left;
	overflow: hidden;
}
.Popover{
	position: relative;
}
.Input-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s,border .2s;
}
.SearchBar-input {
    width: 326px;
    transition: width .2s ease,background .3s ease;
}
.Input-wrapper.Input-wrapper--grey {
    background: #f7f8fa;
}
.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}
input.Input {
    height: 24px;
}
.Input:not(input), input.Input {
    line-height: 24px;
}
.Input-after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.Input-wrapper.is-focus{
	background: #FFFFFF;
	border: 1px solid #9fadc7;
}
.SearchBar-focusedInput{
	width: 400px;
}
.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}
.Button--primary {
    background: #ccd8e1;
}
.SearchBar-searchIcon {
    position: absolute;
    right: -11px;
    top: -17px;
    bottom: -17px;
    background: transparent;
    border: transparent;
    padding: 0 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: fill .3s ease;
}
.Button--blue {
    color: #0f88eb;
    border: 1px solid #0f88eb;
}
.SearchBar-askButton {
    z-index: 103;
    padding: 0 14px;
    margin-left: 16px;
    transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,transform .3s ease;
    transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
    line-height: 30px;
}
.SearchBar-hiddenAskButton{
	opacity: 0;
	transform: scale(0);
}
.Button--primary.Button--blue {
    color: #fff;
}
.Button--primary.Button--blue, .Button--primary.Button--blue:disabled {
    background: #0f88eb;
}
/*----------用户信息栏--------*/
.header-userInfo{
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.Popover {
    position: relative;
    display: inline-block;
}
.header-messages, .header-notifications {
    margin-right: 40px;
}
.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.Avatar {
    background: #fff;
    border-radius: 2px;
}
.AppHeader-profileAvatar {
    vertical-align: top;
}
img{
    width: 30px;
    height: 30px;
}
/*----------------------------------main-------------------------*/
.Topstory-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}
.Topstory-mainColumn{
	margin-right: 10px;
}
/*卡片状展示*/
.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Topstory-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 58px;
    padding: 0 20px;
}
.Topstory-header-rightItem{
	color: #8590a6;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}
.Topstory-header-navItem{
	display: inline-block;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
    font-size: 16px;
    color: #262626;
}
.Topstory-header-navItem+.Topstory-header-navItem{
	margin-left: 40px;
}
.Topstory-main{
	width: 694px;
	padding-bottom: 20px;
}
.Topstory-item{
	position: relative;
	padding: 16px 20px;
}
.Topstory-item-rightButton{
	position: absolute;
	top: 12px;
	right: 16px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
.Feed-title{
	margin-bottom: 14px;
}
.Feed-meta{
	color: #8590A6;
	line-height: 1;
}
.Content-item-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: #1e1e1e;
    margin-top: -4px;
    margin-bottom: -4px;
}
.Content-item-title+.Content-item-meta{
	margin-top: 6px;
}
.Content-item-meta{
	font-size: 15px;
	color: #555;
}
.AnswerItem-meta {
    position: relative;
    margin-top: 14px;
}
.AuthorInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.AuthorInfo--plain .AuthorInfo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}
.AuthorInfo-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 14px;
    overflow: hidden;
}
.AuthorInfo-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.AuthorInfo-name {
    font-weight: 600;
}
.AuthorInfo-detail {
    overflow: hidden;
}
.RichContent{
	line-height: 1.67;
}
